td{
    vertical-align: middle;
}
th{
    vertical-align: middle;
}
div[class="btn-group"]
{
    padding-left: 560px;
}
div[class="dropdown"]
{
    padding-left: 50px;
}
a[class="dropdown-item"]
{
    width: 120px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
input[type="text"]
{
    margin-left: 1000px;
    padding-bottom: 8px;
}