<div class="fixed-bottom">NatSoft</div>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a routerLink="Homepage" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Side Bar</span>
                </a>
                <a routerLink="Homepage" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Home</span>
                </a>
                <a routerLink="Products" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Products</span>
                </a>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-black min-vh-100">
            <div class="row">
                <br/>
                <div *ngFor="let product of (products1|sortbyid2)" class="col-sm" id="prodlist">
                    <img class="cardimg" [src]='product.prodImage' width="40%"/>
                    <div class="card-body" style="background-color: aqua;" id="cardbottom">
                        <h4 class="cardname">{{product.prodName | titlecase}}</h4>
                        <p>Product ID: {{product.prodID}}</p>
                        <p>Price: {{product.prodPrice | currency:'USD':true}}</p>
                        <p>Category: {{product.prodCategory}}</p>
                    </div>
                    <br/>
                </div>
            </div>
            <div class="row">
                <br/>
                <div *ngFor="let product of (products2|sortbyid2)" class="col-sm" id="prodlist">
                    <img class="cardimg" [src]='product.prodImage' id="thecards" width="40%"/>
                    <div class="card-body" style="background-color: aqua;" id="cardbottom">
                        <h4 class="cardname">{{product.prodName | titlecase}}</h4>
                        <p>Product ID: {{product.prodID}}</p>
                        <p>Price: {{product.prodPrice | currency:'USD':true}}</p>
                        <p>Category: {{product.prodCategory}}</p>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div>
            <div class="row"><img class="cardimg" src='../../assets/stockchart.png' width="100px" height="400px"/></div>
            <div class="row"><img class="cardimg" src='../../assets/tempdiamondimage.jpg' width="100px" height="400px"/></div>
        </div>
    </div>
</div>